@import "~bootstrap";
@import './functions/px_to_rem';
@import "mixins/media_query_mixins";
$navbar-background-color: #4A2545;

#navbar-section {
  nav {
    padding: 0 20px;
    background-color: #4A2545;
    color: #FFFFFF;
    height: px-to-rem(70px);
    .nav-link {
      //background-color: $navbar-background-color;
      color: white;
      &:hover {
        background-color: #FCF7FF;
        color: #4A2545;
        border-radius: px-to-rem(8px);
      }
    }
    .navbar {
      color: #FFFFFF;
      .navbar-nav {
        .nav-item {
          font-size: 100px;
          &:hover {
            background-color: #FCF7FF;
            color: #4A2545;
          }
        }
      }
      .buttons {
        padding: px-to-rem(15px) px-to-rem(20px);
        .btn {
          margin-right: px-to-rem(10px);
        }
        .is-primary {
          background-color: #A288A6;
        }
        }
    }
  }
}