@import "functions/px_to_rem";
@import "mixins/media_query_mixins";

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

#all-requests {
  @include flex-row;
  justify-content: space-around;
  padding: px-to-rem(30px);

  #request-list {
    text-decoration: none;
    a:hover {
      text-decoration: none;
    }
    .card {
      width: 50vw;
      margin: auto;
      margin-bottom: 10px;
      color: black;
      .row {
        .card-body {
          @include flex-row;
          justify-content: space-between;

          #subject {
            width: 15vw;
          }
          #time {
            width: 15vw;
          }
          #status {
            width: 15vw;
          }
        }
      }
    }
  }

  #requests-info {
    a:link {
      text-decoration: none;
    }
    .card {
      width: 25vw;
      color: black;

      .card-body {
        //height: px-to-rem(55px);
        @include flex-row;
        justify-content: space-between;
      }

      .number {
        background-color: #4A2545;
        color: #FFFFFF;
        width: px-to-rem(20px);
        border-radius: px-to-rem(10px);
      }
    }
  }
}

@include bp(bp-phones) {
  #all-requests {
    @include flex-column;
    align-items: center;
    width: 100vw;
    font-size: px-to-rem(15px);

    #requests-info {
      padding: px-to-rem(20px) 0 px-to-rem(30px) 0;
      .card {
        width: 70vw;
        .card-body {
          font-size: px-to-rem(15px);
        }
      }
    }

    #request-list {
      .card {
        width: 90vw;
      }
    }
  }
}

@include bp(bp-phones-800-height) {
  #all-requests {
    @include flex-column;
    align-items: center;
    width: 100vw;
    font-size: px-to-rem(15px);

    #requests-info {
      padding: px-to-rem(10px) 0 px-to-rem(30px) 0;
      .card {
        width: 70vw;
      }
    }

    #request-list {
      .card {
        width: 90vw;
      }
    }
  }
}

@include bp(bp-tablet) {
  #all-requests {
    @include flex-column;
    align-items: center;
    width: 100vw;

    #requests-info {
      padding: px-to-rem(10px) 0 px-to-rem(30px) 0;
      font-size: px-to-rem(20px);
      .card {
        width: 70vw;
      }
    }

    #request-list {
      font-size: px-to-rem(23px);
      .card {
        width: 90vw;
      }
    }
  }
}

@include bp(bp-tablet-big) {
  #all-requests {
    @include flex-column;
    align-items: center;
    width: 100vw;

    #requests-info {
      padding: px-to-rem(10px) 0 px-to-rem(30px) 0;
      font-size: px-to-rem(25px);
      .card {
        width: 70vw;
      }
    }

    #request-list {
      font-size: px-to-rem(30px);
      .card {
        width: 90vw;
      }
    }
  }
}