@import "functions/px_to_rem";
#signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4.375rem);
  background-color: #111118;
  width: 100vw;

  #signup-form {
    background-color: #FFFFFF;
    border-radius: px-to-rem(8px);
    padding: px-to-rem(20px) 0;
    height: 66vh;
    width: 40vw;

    .form-group {
      padding: 0 px-to-rem(20px);
    }

    label {
      float: left;
      font-weight: 500;
    }

    .form-control:focus {
      border-color: #4A2545;
    }

    .button-group {
      padding-bottom: px-to-rem(20px);
      .btn {
        background-color: #4A2545;
        color: #FFFFFF;
      }
    }
  }
}